.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(gray, 0.1);

  > div:first-child {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .filename {
    margin-left: 12px;
    width: 210px;
  }

  .migrationHint {
    width: calc(100% - 24px);
    margin: 8px 12px 0;
  }

  .tabs {
    margin: 0 12px;
    flex: 1;
    width: calc(100% - 24px);
  }
}
