.panel {
  left: 6px;
  top: 6px;
  width: 360px;
  border-radius: 16px;

  .header {
    .right {
      position: absolute;
      right: 15px;
      top: 15px;
      display: flex;
      gap: 10px;
    }
  }

  .list {
    width: 100%;
    max-height: calc(80vh - 80px);
    overflow-y: auto;

    .item {
      display: flex;
      align-items: center;
      justify-content: start;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 4px;

      .key {
        width: 110px;
        position: relative;
        display: flex;
        justify-content: right;

        span {
          font-size: 16px;
        }
      }

      .value {
        margin-left: 24px;
        flex: 1;
      }

      .list-value {
        .value();
        display: flex;
        flex-direction: column;
        gap: 8px;

        > div {
          width: 100%;
          display: flex;
          align-items: center;
        }

        .operation {
          margin-left: 8px;
          width: 20px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .operation {
        margin-left: 8px;
        width: 24px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .line {
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .global {
    .key {
      width: 154px !important;
    }
  }

  .ai-config {
    .key {
      width: 90px !important;
    }
  }

  .divider {
    width: 100%;
    text-align: center;
    margin: 12px 0;
    font-size: 15px;
  }
}
