.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .logo {
      font-size: 28px;
      color: #1296db;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-left: 12px;
    }
  }

  .links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
  }
}
