.panel {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border-right: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc;
  display: flex;

  .item {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    .icon {
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .devider {
    width: 100%;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      background-color: rgba(gray, 0.3);
      border-radius: 60px;
      width: 72%;
      height: 50%;
    }
  }
}

.h-panel {
  .group {
    display: flex;
  }

  .devider {
    height: 100%;
    width: 5px;

    > div {
      background-color: rgba(gray, 0.3);
      border-radius: 60px;
      height: 72%;
      width: 50%;
    }
  }
}

.add-panel {
  left: 10px;
  // top: calc(50% - 52px);
  // transform: translateY(-50%);
  top: 80px;
  flex-direction: column;
}

.global-panel {
  top: 10px;
  left: 10px;
}

.layout-panel {
  bottom: 20px;
  right: 20px;
}
